@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
body,ch,cc{display:flex;flex-direction:column;font-family:'Noto Serif';font-size:12px;cursor:default;}
a{color:#fff;}
cr,ct,cb,cf,tabs{display:flex;flex-direction:row;}
body{background:#000;color:#fff;font-size:small;padding-bottom:5em;margin:4px;}
ct,cf,od{flex-grow:0;align-items:flex-end;}
cc,ch,cb,cf{justify-content:space-between;}
ch{margin:2px;}
ch[w]{color:#fff;}
ch[b]{color:#000;}
ch[e]{min-width:160px;min-height:65px;}
cc[g]>*,cr[g]>*,cb,n,nn{flex-grow:1;}
cc[l]{justify-content:flex-start;}
ct{order:1;margin:2px;padding:1px 2px;background:#000;color:#fff;}
cb{order:2;margin:0 3px;}
cb,c::after,n::after,pl::after,al::after,bru::after,brn::after,tox::after,h::after,g::after,od[d]::after,s[d]::after,ci[d]::after,dm::after,by[d]::after
{font-family:'Noto Sans Mono';font-size:10px;}
cf{order:3;}
att{order:1;}
dm{order:2;font-size:smaller;margin-bottom:1px;}
ods{order:3;margin:0 2px 0 0;min-height:1em;}
od,ci{margin-left:0.4em;}
od[d]::after,s[d]::after,ci[d]::after{content:attr(d);}
od[nb]{background:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 100 100'><line x1='0' y1='90' x2='100' y2='10' style='stroke:black;stroke-width:8'/></svg>");}
od[nw]{background:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 100 100'><line x1='0' y1='90' x2='100' y2='10' style='stroke:white;stroke-width:8'/></svg>");}
n,nn{order:1;padding-right:1em;text-wrap:nowrap;}
n:hover{color:red;}
oc{order:2;flex-grow:0;}
ef,re{font-size:smaller;text-wrap:nowrap;}
ef{order:1;text-align:left; padding:0 0 .25em 0;}
re{order:2;text-align:right;padding:0 0 .25em 1em;}
bd{text-align:center;padding:0 12px;}
ch>bd{text-wrap:nowrap;}
ch[w]>bd{border-bottom:1px solid #fff;}
ch[b]>bd{border-bottom:1px solid #000;}
pl,h,l,c,g,od[d][r],s[d],ci[d],dm,cl,cold,hot,by,pl::before,al::before,bru::before,brn::before,tox::before,by[d]::before,cri::before,decomp{text-decoration:underline;cursor:help;}
od[d]{text-decoration:underline dotted;cursor:help;}
by[d]{order:10;}
ci::before{content:"C/I";}
pl:empty::before{content:"plasma";}
al::before{content:"Air";}
bru::before{content:"Bru";}
brn::before{content:"Brn";}
tox::before{content:"Tox";}
oc:not(:empty)::before{content:"(";}
oc:not(:empty)::after{content:")";}
dm::before{content:"DM";}
cl::before{content:"cleans ";}
cold::before{content:"\000394K<0";}
hot::before{content:"\000394K>0";}
by[d]::before{content:"b";}
decomp::before{content:"decomp ";}
cri::before{content:"C!";}
pl::after{content:"catalyst";}
g::after{content:"grind";}
h::after{content:"heat mix";}
l::after{content:"cool mix";}
c::after{content:"cool body";}
dm::after{content:"works on the dead";}
cl::after{content:"cleans bloodstream at the indicated rate";}
cold::after{content:"reaction cools mix";}
hot::after{content:"reaction heats mix";}
decomp::after{content:"decomposes at listed temperature";}
al::after{content:"airloss:\00000a- asphyx\00000a- bloodloss";}
bru::after{content:"brute:\00000a- blunt\00000a- slash\00000a- piercing";}
brn::after{content:"burn:\00000a- heat\00000a- shock\00000a- cold\00000a- caustic";}
tox::after{content:"toxin:\00000a- poison\00000a- rads";}
cri::after{content:"only when critical"}
c::after,n::after,pl::after,al::after,bru::after,brn::after,tox::after,h::after,l::after,g::after,od[d]::after,s[d]::after,ci[d]::after,dm::after,cl::after,cold::after,hot::after,by[d]::after,decomp::after,cri::after
{white-space:pre-wrap;display:block;visibility:hidden;position:absolute;z-index:99;left:var(--mouse-x);top:var(--mouse-y);transform:translate(var(--d-xlat),0);padding:4px 8px;border:1px solid #fff;outline:2px solid #000;text-wrap:nowrap;background-color:#000;color:#fff;margin-top:1.2em;}
tabtgt c::after,tabtgt n::after,tabtgt pl::after,tabtgt al::after,tabtgt bru::after,tabtgt brn::after,tabtgt tox::after,tabtgt h::after,tabtgt l::after,tabtgt g::after,tabtgt od[d]::after,tabtgt s[d]::after,tabtgt ci[d]::after,tabtgt dm::after,tabtgt cl::after,tabtgt cold::after,tabtgt hot::after,tabtgt by[d]::after,tabtgt decomp::after,tabtgt cri::after
{left:calc(var(--mouse-x) - calc(50vw - 50%));top:calc(var(--mouse-y) - calc(50vh - 50%));transform:translate(var(--d-xlat),0);}
n::after{content:attr(d) "\00000aclick to copy label";color:red;border-color:red;}
by[d]::after{content:"byproducts:\00000a" attr(d);}
c:hover::after,n:hover::after,h:hover::after,l:hover::after,g:hover::after,pl:hover::after,al:hover::after,bru:hover::after,brn:hover::after,tox:hover::after,od[d]:hover::after,s[d]:hover::after,ci[d]:hover::after,dm:hover::after,cl:hover::after,cold:hover::after,hot:hover::after,by[d]:hover::after,decomp:hover::after,cri:hover::after
{visibility:visible;}
i{margin:0 0 0 3px;font-size:smaller;}
footer{position:fixed;bottom:0.5em;left:50vw;transform:translate(-50%,0);padding:0.5em 3em;background-color:#000;border:1px solid #fff;outline:2px solid #000;}
extra{position:absolute;top:2em;right:3em;font-size:1.3em;font-style:italic;color:#888;}
note{margin-right:1em;margin-left:0.5em;}
tabs{margin-bottom:.5em;margin-top:.25em;}
tab{padding:0em 1em;text-decoration:underline;}
tab:hover{color:red;cursor:pointer;}
tabtgts,tabtgt{display:flex;flex-direction:column;}
tabtgts{position:absolute;top:50vh;left:50vw;transform:translate(-50%,-50%);}
tabtgt{background:#000;padding:1em;border:1px solid #fff;outline:2px solid #000;}
pre{margin:0;}
.hidden{display:none;}
